.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  padding-bottom: 2em;
}

@media (max-width: 640px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .content img {
    max-width: 100%;
  }
}

.content img {
  max-width: 400px;
  padding: 2em;
}

.content div {
  padding: 2em;
}

.content p {
  margin-bottom: 1em;
}