.footerWrapper {
  background-color: #963e2a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  color: white;
}
@media (max-width: 640px) {
  .footerWrapper {
    flex-direction: column;
  }
  .gitLink {
    padding: 1em 0 1em 0;
  }
  .address {
    padding: 0 0 1em 0;
  }
}

.gitLink {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.address {
  color: white;
}
