.footerWrapper {
  background-color: #963e2a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  color: white;
}

.gitLink {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.address {
  color: white;
}
