.cards {
  padding: 15px;
  margin: 15px;
}

.cardCol {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: baseline;
}



.headerStyle {
  text-align: center;
  text-decoration: underline;
  font-size: 3rem;
}

.bodyStyle {
  background-color: aquamarine;
  margin: 5%;
}

.cartStyle {
  background-color: rgb(141, 255, 217);
  margin: 4%;
}